@tailwind base;
@tailwind components;
@tailwind utilities;

/*To do:
- Add the fonts from figma
- Fix the wrapping property of the about me section and the projects section
- Add the projects styling
- Add the skills styling
- Add the contact me styling
- Add the experience styling
- Add the about me styling

*/


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0px;
  background-color: #0f0f0f;
}

.descriptions {
  position: absolute;
  top: 3px;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.description {
  background-color: #ec4e39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  clip-path: inset(50% 0 50%);
  transition: clip-path 0.4s;
}


.portfolio,
.portfolio * {
  box-sizing: border-box;
}
.portfolio {
  background: #dad7cd;
  height: 982px;
  position: relative;
  overflow: hidden;
}
.hero-title {
  position: absolute;
  inset: 0;
}
.hero-section{
  pointer-events: none;
}
.frame-1 {
    padding: 25px 49px;
    position: absolute;
    left: 73px;
    top: 269px;
    background-color: #344e41;
    width: 918px;
    height: 140px; /* Added explicit height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lawrence {
    color: #dad7cd;
    text-align: center;
    font-family: "Afacad-Regular", sans-serif;
    font-size: 143.01361083984375px;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Remove absolute positioning */
    position: relative;
  }

.rectangle-9 {
  flex-shrink: 0;
  width: 820px;
  height: 135.35px;
  position: relative;
  overflow: visible;
}


.full-stack-developer {
  color: #344e41;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 50.54684829711914px;
  font-weight: 400;
  position: absolute;
  right: 49.98%;
  left: 9.99%;
  width: 40.04%;
  bottom: 52.77%;
  top: 45.32%;
  height: 1.92%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-science {
  color: #344e41;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 50.54684829711914px;
  font-weight: 400;
  position: absolute;
  right: 49.01%;
  left: 10.98%;
  width: 40.01%;
  bottom: 42.97%;
  top: 51.83%;
  height: 5.19%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.machine-learning {
  color: #344e41;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 50.54684829711914px;
  font-weight: 400;
  position: absolute;
  right: 58.44%;
  left: 1.52%;
  width: 40.04%;
  bottom: 49%;
  top: 49.08%;
  height: 1.92%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.velilla {
  color: #588157;
  text-align: center;
  font-family: "Helvetica-BoldOblique", sans-serif;
  font-size: 178.62152099609375px;
  font-weight: 400;
  position: absolute;
  right: -2.51%;
  left: 31.35%;
  width: 71.16%;
  bottom: 52.21%;
  top: 41.24%;
  height: 6.55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  width: 453px;
  height: 45px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 44px;
}
.rectangle-1 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #283618;
  border-width: 1px;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.about {
  color: #283618;
  text-align: center;
  font-family: "Poppins-LightItalic", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 81.63%;
  left: 1.07%;
  width: 17.31%;
  bottom: 27.5%;
  top: 26.67%;
  height: 45.83%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  color: #283618;
  text-align: center;
  font-family: "Poppins-LightItalic", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 56.93%;
  left: 23.84%;
  width: 19.23%;
  bottom: 31.25%;
  top: 33.33%;
  height: 35.42%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience {
  color: #283618;
  text-align: center;
  font-family: "Poppins-LightItalic", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 29.36%;
  left: 48.57%;
  width: 22.08%;
  bottom: 33.33%;
  top: 33.33%;
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts {
  color: #283618;
  text-align: center;
  font-family: "Poppins-LightItalic", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 5.04%;
  left: 77.26%;
  width: 17.7%;
  bottom: 33.33%;
  top: 33.33%;
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me {
  position: absolute;
  inset: 0;
}
.container-info {
  width: 646px;
  height: 457px;
  position: static;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 25px;
  opacity: 0.2;
  width: 646px;
  height: 457px;
  position: absolute;
  left: 96px;
  top: 1246px;
  backdrop-filter: blur(2px);
}
.title {
  color: #283618;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 34.615386962890625px;
  font-weight: 300;
  position: absolute;
  left: 288px;
  top: 1271px;
  width: 261px;
  height: 38.77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-skills {
  width: 613px;
  height: 457px;
  position: static;
}
.rectangle-3 {
  background: #d9d9d9;
  border-radius: 25px;
  opacity: 0.2;
  width: 613px;
  height: 457px;
  position: absolute;
  left: 807px;
  top: 1246px;
  backdrop-filter: blur(2px);
}
.title2 {
  color: #283618;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 34.615386962890625px;
  font-weight: 300;
  position: absolute;
  left: 966px;
  top: 1264px;
  width: 296px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-project {
  background: #d9d9d9;
  border-radius: 25px;
  padding: 22px 61px 22px 61px;
  display: flex;
  flex-direction: row;
  gap: 91px;
  row-gap: 36px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1305px;
  height: 1062px;
  position: absolute;
  left: 101px;
  top: 1737px;
  backdrop-filter: blur(2px);
}
.titile {
  color: #283618;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 34.615386962890625px;
  font-weight: 300;
  position: relative;
  width: 583px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-1 {
  flex-shrink: 0;
  width: 577px;
  height: 490px;
  position: static;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 20px;
  opacity: 0.3;
  width: 577px;
  height: 490px;
  position: absolute;
  left: 61px;
  top: 550px;
}
.project-2 {
  flex-shrink: 0;
  width: 515px;
  height: 490px;
  position: static;
}
.rectangle-5 {
  background: #d9d9d9;
  border-radius: 20px;
  opacity: 0.3;
  width: 515px;
  height: 490px;
  position: absolute;
  left: 729px;
  top: 550px;
}
