<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./portfolio.css">
</head>
<body>
    <div class="portfolio-initial-page">
        <div class="lawrence-velilla">Lawrence Velilla</div>
        <div class="full-stack-developer">Full-Stack Developer</div>
        <div class="nav-bar">
          <div class="rectangle-1"></div>
          <div class="about">About</div>
          <div class="projects">Projects</div>
          <div class="experience">Experience</div>
          <div class="contacts">Contacts</div>
        </div>
        <div class="container-info">
          <div class="rectangle-2"></div>
          <div class="title">About me</div>
        </div>
        <div class="container-skills">
          <div class="rectangle-3"></div>
          <div class="title2">Technical Skills</div>
        </div>
        <div class="rectangle-32"></div>
        <div class="project-2">
          <div class="rectangle-5"></div>
        </div>
        <div class="project-1">
          <div class="rectangle-4"></div>
        </div>
        <div class="titile">Projects</div>
      </div>
      
</body>
</html>